<div class="footer-container">
    <footer [class]="'footer footer--' + theme" [class.footer--underlined]="underlineLinks">
        <nav class="footer__nav">
            <div class="footer__row">
                <a class="footer__link" href="/about/intro">About</a>
                <a class="footer__link" href="/about/conditions">Conditions</a>
                <a class="footer__link" href="/about/privacy">Privacy</a>
            </div>
            <div class="footer__row">
                <a class="footer__link" href="/about/legal">Legal</a>
                <a class="footer__link" href="/about/faq">FAQ</a>
                <a class="footer__link" href="/about/support">Support</a>
                <a class="footer__link" href="/about/brand">Brand</a>
            </div>
        </nav>
    </footer>
</div>
