<div class="layout">
    <h1 class="title">Conditions</h1>
    <div class="layout__description">
        <div class="layout__icon">
            <svg width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
                <path stroke="#2B2E4AFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 20c-3.2 0-4-2.667-4-4H3v2a2 2 0 0 0 2 2h10zm0 0a3 3 0 0 0 3-3v-7m0-6H7a2 2 0 0 0-2 2v10M18 4h1a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-1m0-6v6m-4-2H9m2 4H9"/>
            </svg>
        </div>
        <p>
            Before using our Services, please read the Conditions carefully,
            along with any other policies or notices on Pecunia Wallet’s website
            and our <a th:href="@{/about/privacy}">Privacy Policy</a>. Together, these materials contain terms, rules,
            and guidelines related to your use of Pecunia Wallet.
        </p>
    </div>

    <div class="layout__cards">
        <div class="layout__card">
            <h3 class="layout__subtitle">Overview</h3>
            <p class="layout__paragraph">
                We know that Conditions can be long and confusing, so we will
                do our best to keep things as clear and concise as possible.
                This section provides a brief summary of the highlights of this Agreement.
                Please note that when you accept this Agreement, you are accepting all the
                terms and conditions and not just this section. Wallet provides self-hosted
                wallet services for many blockchains. By creating or importing a wallet you
                are agreeing to our Conditions, so please read carefully. These conditions outline
                approved uses of Pecunia Wallet, various licenses that we grant to you, and licenses
                that you grant us. If you do not agree to this Agreement or any modifications to this
                Agreement, you should not use our Services</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">How you accept this policy</h3>
            <p class="layout__paragraph">
                By creating or importing a locally hosted wallet (a “Wallet”), or visiting our website, you
                acknowledge that you have read, understood, and agreed to these Conditions, as well as the accompanying
                <a th:href="@{/about/privacy}">Privacy Policy</a> We reserve the right to change these Conditions at
                any time. Any such changes with respect to your use of Pecunia Wallet will take effect immediately when
                posted on our website or on our mobile application. Your continued use of Pecunia Wallet following any
                such change will signify your acceptance to be bound by the then current Conditions. Please check the
                effective date above to determine if there have been any changes since you have last reviewed these
                Conditions. If you do not agree to this Agreement or any modifications to this Agreement, you should not
                use Pecunia Wallet. Failure or delay by Pecunia Wallet in enforcing or partially enforcing any provision
                of these Conditions shall not be construed as a waiver of any rights.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Eligibility</h3>
            <p class="layout__paragraph">To be eligible to use Pecunia Wallet, you must be at least eighteen (18) years
                old and be able to form legally binding contracts. If you are using our Services on behalf of a legal
                entity, you further represent and warrant that: (a) the legal entity is duly organized and validly
                existing under the applicable laws of the jurisdiction of its organization; and (b) you are duly
                authorized by such legal entity to act on its behalf. You can only use our Services if permitted under
                the laws of your jurisdiction. Please make sure that these Conditions are in compliance with all laws,
                rules, and regulations that apply to you. By using Pecunia Wallet, you represent and warrant that you
                meet all eligibility requirements that we outline in these Conditions. We may still refuse to let
                certain people access or use Pecunia, however, and we reserve the right to change our eligibility
                criteria at any time.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">The blockchain services</h3>
            <p class="layout__paragraph">Pecunia Wallet is software that generates Wallet addresses and encrypted
                private keys that you may use to send and receive related cryptographically secured tokens (the “Virtual
                Currency”); allows users to browse third party decentralized applications (“Coin” or “DApp”); and
                facilitates the submission of Virtual Currency transaction data to Ethereum-based blockchains (the
                “Ethereum Networks”) without requiring you to download or install the associated Ethereum-based software
                to your local device.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Wallet Address, Private Key, and Backup Capabilities</h3>
            <p class="layout__paragraph">An encrypted backup of certain information associated with the Wallet can be
                stored on your device in Keystore JSON format. The private key is connected to the Wallet address and,
                together, they can be used to authorize the transfer of Virtual Currency to and from that Wallet
                address.
                You are solely responsible for maintaining the security of your private key and any mnemonic (backup)
                phrase associated with your Wallet. You must keep your Wallet address, mnemonic (backup) phrase, and
                private key access information secure. Failure to do so may result in the loss of control of Virtual
                Currency associated with the Wallet.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Pecunia Wallet Cannot Assist With Passphrase Retrieval</h3>
            <p class="layout__paragraph">Pecunia Wallet stores your Wallet address but does not receive or store your
                Wallet passphrase, encrypted private key, unencrypted private key, or mnemonic (backup) phrase
                associated with your Wallet. We cannot, therefore, assist you with Wallet passphrase retrieval. We
                cannot generate a new passphrase for your Wallet if you fail to remember your original passphrase. If
                you have not safely stored a backup of any Wallet address and private key pairs maintained in your
                Wallet, you accept and acknowledge that any Virtual Currency you have associated with such a Wallet
                address will become inaccessible if you do not have your Wallet passphrase.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Virtual Currency Transactions</h3>
            <p class="layout__paragraph">In order to be completed, all proposed Virtual Currency transactions must be
                confirmed and recorded in the Virtual Currency’s associated public blockchain. Such networks are
                decentralized, peer-to-peer networks supported by independent third parties, which we do not own,
                control, or operate. We have no control over the Crypto Networks and, therefore, cannot and do not
                ensure that any transaction details that you submit via our Services will be confirmed and processed. By
                using Pecunia Wallet, you acknowledge and agree that the transaction details you submit may not be
                completed, or may be substantially delayed, by the Networks.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Pecunia Wallet Does Not Store or Transmit Virtual Currency</h3>
            <p class="layout__paragraph">We do not store, send, or receive Virtual Currency. Any transfer that occurs in
                any Virtual Currency occurs on the blockchains and not on a network owned by us. We therefore do not
                guarantee that Pecunia Wallet can affect the transfer of title or right in any Virtual Currency.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Accuracy of Information Provided by User</h3>
            <p class="layout__paragraph">You represent and warrant that any information you provide via the Services is
                accurate and complete. You accept and acknowledge that we are not responsible for any errors or
                omissions that you make in connection with any Virtual Currency transaction initiated via the Services.
                We strongly encourage you to review your transaction details carefully before attempting to transfer a
                Virtual Currency.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Wallet registration and account information</h3>
            <p class="layout__paragraph">You must either import or create a Wallet in order to use Pecunia Wallet. When
                you create a Wallet, you will be assigned a private key. You will be prompted to download and save a
                passphrase – your private key encrypted with a passphrase. You will be responsible for maintaining the
                confidentiality of your private key and keystore, and will be fully responsible for any and all
                activities that occur under your account.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Transactions</h3>
            <p class="layout__paragraph">Once transaction details have been submitted via the Services, we cannot assist
                you to cancel or otherwise modify your transaction. Pecunia Wallet has no control over any blockchain
                and does not have the ability to facilitate any cancellation or modification requests. You must ensure
                that you have an adequate balance in your Wallet and/or gas to complete transactions before initiating a
                transaction. You acknowledge and agree that we will not be liable for any failed transactions due to
                insufficient funds or gas associated with your Pecunia Wallet account.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Taxes</h3>
            <p class="layout__paragraph">It is your responsibility to determine what, if any, taxes apply to the
                transactions that you have submitted transaction details for via the Services, and it is your
                responsibility to report and remit the correct tax to the appropriate tax authority. You agree that we
                are not responsible for determining whether taxes apply to your blockchain transactions or for
                collecting, reporting, withholding, or remitting any taxes arising from any Virtual Currency-related
                transactions.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Don’t Try to Harm Our System</h3>
            <p class="layout__paragraph">You agree not to distribute any virus or other harmful computer code through
                Pecunia Wallet. You also agree to not take any action that may impose an unreasonable or
                disproportionately large load on our or any of our third party providers’ infrastructure. Don’t Attempt
                to Circumvent Our Security. You agree not to bypass, circumvent, or attempt to bypass or circumvent any
                measures that we may use to prevent or restrict access to the Services including, without limitation,
                other accounts, computer systems, or networks connected to the Services. Any use of Pecunia Wallet other
                than as specifically authorized in this Agreement, without our prior written permission, is strictly
                prohibited and will terminate your license to use Pecunia Wallet.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Limitation of liability & disclaimer of warranties</h3>
            <p class="layout__paragraph">You understand and agree that we have no control over, and no duty to take any
                action regarding: Failures, disruptions, errors, or delays in processing Virtual Currency that you may
                experience while using the Services; The risk of failure of hardware, software, and Internet
                connections; The risk of malicious software being introduced or found in the software underlying Pecunia
                Wallet; The risk that third parties may obtain unauthorized access to information stored within your
                Wallet, including, but not limited to your Wallet address, private key, and mnemonic (backup) phrase;
                and The risk of unknown vulnerabilities in or unanticipated changes to the Ethereum Networks. You
                release us from all liability related to any losses, damages, or claims arising from: (a) user error
                such as forgotten passphrases, incorrectly constructed transactions, or mistyped Virtual Currency
                addresses; (b) server failure or data loss; (c) unauthorized access to the Pecunia application; (d)
                bugs or other errors in the Pecunia Wallet software; and (e) any unauthorized third party activities,
                including, but not limited to, the use of viruses, phishing, brute forcing, or other means of attack
                against Pecunia Wallet.
                We make no representations concerning any Third Party Content contained in or accessed through our
                Services. Any other terms, conditions, warranties, or representations associated with such content, are
                solely between you and such organizations and/or individuals.</p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Time limitation on claims</h3>
            <p class="layout__paragraph">You agree that any claim you may have arising out of or related to your
                relationship with us must be filed within one year after such claim arises, otherwise, your claim is
                permanently barred.</p>
        </div>

        <div class="layout__card">
            <h3 class="layout__subtitle">Force majeure</h3>
            <p class="layout__paragraph">We shall not be held liable for any delays, failure in performance, or
                interruptions of service which result directly or indirectly from any cause or condition beyond our
                reasonable control, including but not limited to: any delay or failure due to any act of God, act of
                civil or military authorities, act of terrorism, civil disturbance, war, strike or other labor dispute,
                fire, interruption in telecommunications or Internet services or network provider services, failure of
                equipment and/or software, other catastrophe, or any other occurrence which is beyond our reasonable
                control and shall not affect the validity and enforceability of any remaining provisions</p>
        </div>
    </div>
</div>