<div class="layout">
    <h1 class="title">Features</h1>

    <div class="layout__cards">
        <div class="layout__card">
            <h3 class="layout__subtitle">Non-Custodial Wallet</h3>
            <p class="layout__paragraph">
                Pecunia Wallet gives you full control over your coins.
                This means no third party can freeze or take away your funds.
                Funds won't be impacted in cases of exchange hacks.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Open-source</h3>
            <p class="layout__paragraph">
                Pecunia Wallet are open-source and can be built deterministically,
                a process of compiling software which ensures the resulting code can be
                reproduced to help ensure it hasn't been tampered with.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Anonymous</h3>
            <p class="layout__paragraph">
                No KYC or AML process necessary for creating/storing.
                Pecunia Wallet make it harder to spy on your transactions by rotating addresses.
                Pecunia Wallet do not disclose information to peers on the network.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">No need to download</h3>
            <p class="layout__paragraph">
                You can open your Pecunia Wallet on any device simply in the browser.
                You don't have to install any app.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">It's easy and free</h3>
            <p class="layout__paragraph">
                Simple to use for beginners. Fast and easy to create new wallets.
                Pecunia Wallet will not charge any additional fees for transferring coins.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">Roadmap</h3>
            <p class="layout__paragraph">
                New currencies, currency exchange and bank cards will be added soon.
            </p>
        </div>
    </div>
</div>