<div class="layout">
    <h1 class="title">Legal</h1>

    <div class="layout__cards">
        <div class="layout__card">
            <h3 class="layout__subtitle">
                DISCLAIMER: Always back up your 12-word passphrase
            </h3>
            <p class="layout__paragraph">
                You do not create an account or give us your funds to hold onto. No data leaves
                your computer / device / browser. We make it easy for you to create, save, and access your information
                and interact with the blockchain.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">
                Can Pecunia Wallet freeze a user’s wallet?
            </h3>
            <p class="layout__paragraph">
                No. Pecunia Wallet cannot freeze or take possession of virtual currency on law enforcement’s behalf or
                send
                virtual currency from the user’s wallet to another party. The private keys for the virtual currency are
                held
                by the user and encrypted locally on the user’s device.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">
                Why does Pecunia Wallet, because of its non-custodial software,
                generally not have identifying information about its users?
            </h3>
            <p class="layout__paragraph">
                The Pecunia Wallet Platform provides an easy-to-use software interface that permits users to manage
                virtual currency on their desktop computers and mobile phones. The software provided by Pecunia Wallet
                permits users of the software to hold, send and receive virtual currency, with each user having total
                independent control over the private keys of their virtual currency.
                The private keys for the virtual currency are held by the user and are encrypted locally on the user’s
                device. Pecunia Wallet does not have accounts, custody or control over a user’s virtual currency.
                Consequently, unless a user contacts Pecunia Wallet and provides it with such information, Pecunia
                Wallet does not have any information about a user’s name, email address, address, or national ID number.
            </p>
        </div>
        <div class="layout__card">
            <h3 class="layout__subtitle">
                Our location:
            </h3>
            <ul class="layout__paragraph" style="line-height: 1.5;">
                <li>Pecunia GmbH</li>
                <li>Stadtplatz 2, 6010 Kriens, Switzerland</li>
                <li><strong>Tel:</strong> 41 41 329 88 66</li>
                <li><strong>Email:</strong> support@pecuniawallet.com</li>
            </ul>
        </div>
    </div>
</div>