<div class="layout">
    <h1 class="title">Privacy Policy</h1>

    <p class="layout__description">
        We recognize the significance of protecting information which is stored on our computers or is intended to be
        stored on our computers and which relates to an individual. The data we protect represents “Personal Data,” which
        encompasses any information related to an identified or identifiable natural person, sometimes referred to as a data
        subject. We consider safeguarding the privacy and confidentiality of Personal Data to be a fundamental aspect of our
        business operations. This Privacy Policy informs you of the ways we ensure privacy and the confidentiality of Personal
        Data. We are compliant with applicable privacy laws in the countries in which we operate. This policy describes
        the information we gather, how we may use that Personal Data and the circumstances under which we may disclose
        such information to third parties. Collecting Personal Information, When you access or use the Pecunia Wallet
        site or Services, we may collect some information, including information you may provide to us: your email
        address, 6-digit PIN and any other information you choose to provide.
    </p>
    <p class="layout__description">
        We protect Personal Data with appropriate physical, technological and organizational safeguards and security
        measures. Your Personal Data comes to us via the internet which chooses its own routes and means whereby
        information is conveyed from location to location. As such, we cannot give any warranty or assurance that the
        means where information is conveyed to us are safe, reliable or have integrity. We audit our procedures and
        security measures regularly to ensure they are being properly administered and remain effective and appropriate.
        Every member of Pecunia Wallet is committed to our privacy policies and procedures to safeguard Personal Data.
        Our site has security measures in place to protect against the loss, misuse and unauthorized alteration of the
        information under our control. More specifically, our server uses SSL (Secure Sockets Layer) security protection
        by encrypting your Personal Data to prevent individuals from reading this Data as it travels over the Internet.
        The length of time we retain Personal Data outside our backup system varies depending on the purpose for which
        it was collected and used. This period may extend beyond the end of the particular relationship with us but only
        for so long as we are contractually bound to do so, or so far as is necessary for audit or other accounting
        purposes. When Personal Data is no longer needed, we have procedures either to destroy, delete, erase or convert
        it to an anonymous form. We reserve the right to maintain your Personal Data as part of our standard backup
        procedures.
    </p>
    <p class="layout__description">
        By using this site, you signify your agreement to this Policy. Pecunia reserves the right to change this
        Policy at any time. Any changes will be posted so that you are always aware of what information we collect, how
        we use it and under what circumstances we disclose it.
    </p>
</div>