<div id="alert" style="display: none" class="alert" th:fragment="alert" th:with="closeable=${closeable == true ? true : false}" >
    <link rel="stylesheet" th:href="@{/styles/promo-alert.css}">
    <div class="alert__line" id="marquee">
        <div class="alert__message">
            <svg class="alert__image" width="800px" height="800px" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier">
                    <path opacity="0.1"
                          d="M10.2501 5.147L3.64909 17.0287C2.9085 18.3618 3.87244 20 5.39741 20H18.5994C20.1243 20 21.0883 18.3618 20.3477 17.0287L13.7467 5.147C12.9847 3.77538 11.0121 3.77538 10.2501 5.147Z"
                          fill="#FFE3CA"/>
                    <path d="M12 10V13" stroke="#FFE3CA" stroke-width="2" stroke-linecap="round"/>
                    <path d="M12 16V15.9888" stroke="#FFE3CA" stroke-width="2" stroke-linecap="round"/>
                    <path d="M10.2515 5.147L3.65056 17.0287C2.90997 18.3618 3.8739 20 5.39887 20H18.6008C20.1258 20 21.0897 18.3618 20.3491 17.0287L13.7482 5.147C12.9861 3.77538 11.0135 3.77538 10.2515 5.147Z"
                          stroke="#FFE3CA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
            Promotion! We will add up to 5% daily to all open wallets! Company amount limit: $100,000,000! Hurry up!
        </div>
    </div>

    <div th:if="closeable" id="close" class="alert__close">
        <svg width="800px" height="800px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Close"> <rect id="Rectangle" fill-rule="nonzero" x="0" y="0" width="24" height="24"> </rect> <line x1="16.9999" y1="7" x2="7.00001" y2="16.9999" id="Path" stroke="#F9F7F7" stroke-width="2" stroke-linecap="round"> </line> <line x1="7.00006" y1="7" x2="17" y2="16.9999" id="Path" stroke="#F9F7F7" stroke-width="2" stroke-linecap="round"></line></g></g></g></svg>
    </div>

    <input type="hidden" id="closeable" th:value="${closeable}">

    <script async>
        const promo = localStorage.getItem("promo");
        const close = document.querySelector("#close");
        const alert = document.querySelector("#alert");

        if (document.querySelector("#closeable")?.value === "false") {
            close.style.display = "none";
            alert.style.display = "";
        }

        if (!promo || promo === "true") {
            alert.style.display = "";

            close.addEventListener("click", () => {
                alert.style.display = "none";
                localStorage.setItem("promo", "false");
            });
        }
    </script>

    <script defer th:src="@{/scripts/marquee.js}"></script>
</div>