<div class="container">
    <div class="spinner-container">
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="spinner__hole">
                    <fa-icon [icon]="faArrowsRotate"/>
                </div>
            </div>
        </div>
    </div>
    <div class="text">
        <h1 class="title">Syncing...</h1>
        <p>Pecunia Wallet is currently scanning blockchain
            to figure out your wallet actions history.
            It will take a while, so <strong>please wait</strong></p>
    </div>
</div>

<app-footer />
