<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/styles/open.css}">
</head>
<body>
<!--<input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}">-->

<div class="app">
    <div class="container">
        <div class="header">
            <h1>Please enter your&nbsp;passphrase</h1>
            <th:block th:replace="~{components/button-back}"/>
            <script>
                function back() {
                    window.location.href = "/";
                }
            </script>
        </div>
        <div class="input-group">
            <label for="passphrase">Passphrase</label>
            <textarea class="input" id="passphrase" type="text"></textarea>
        </div>
        <button id="confirm" class="button-next button-next--disabled">
            <span class="loader"><span></span><span></span><span></span></span>
            Confirm
        </button>
    </div>
</div>

<script defer src="/scripts/open.js"></script>
</body>
</html>