@use "variables" as *;

:host {
    padding: 10px 0;

    &.loading {
        .v-loader {
            opacity: 1;
        }

        .statistics {
            opacity: 0;
        }
    }

    &:not(.loading) {
        .statistics {
            transition: opacity .1s ease-in-out;
            opacity: 1;
        }
    }
}

.chart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 240px;
}

.statistics-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .statistics {
        display: flex;
        align-items: center;
        gap: 14px;

        .change {
            display: flex;
            align-items: center;
            gap: 3px;

            &__dir {
                font-size: 12px;
            }

            &--negative {
                * {
                    color: $red-light;
                }
            }

            &--positive {
                * {
                    color: #47EA2D;
                }
            }

            &--neutral {
                * {
                    color: fade-out($blue-darker, .15);
                }
                fa-icon {
                    opacity: .5;
                }
            }
        }

        .divider {
            width: 4px;
            height: 4px;
            border-radius: 3px;
            background-color: fade-out($blue-darker, .8);
        }

        .period {
            font-size: 14px;
            color: fade-out($blue-darker, .4);
        }
    }
}

@media (max-width: 924px) and (min-width: 425px) {
    .chart {
        height: 270px;
    }
}
