<app-loader [show]="initializing"/>

<app-wallet-header title="Edit fee" [link]="link"/>

<div class="content">
    <div class="sliders">
        <div class="slider-group" *ngIf="_rawSliderOptions">
            <div class="slider-group__title">
                <p-select [options]="availableFeeUnits" optionLabel="text"
                              [(ngModel)]="feeUnits" [disabled]="loading"
                              (onChange)="feeUnitsChange()">
                    <ng-template let-opt #item>
                        <div class="opt">
                            {{opt.text.split("/")[0]}}<span>/</span>{{opt.text.split("/")[1]}}
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <ngx-slider [options]="_rawSliderOptions"
                        [(value)]="feePerKb" (userChangeEnd)="setBlocksFromFee()" />
        </div>
        <div class="slider-group" *ngIf="_blocksSliderOptions">
            <span class="slider-group__title">Blocks:</span>
            <ngx-slider [options]="_blocksSliderOptions"
                        [(value)]="blocks" (userChangeEnd)="setFeeFromBlocks()" />
        </div>
    </div>
    <div class="input-group" *ngIf="feeUnits">
        <app-input type="number" [min]="0" [placeholder]="feeUnits.text" [disabled]="loading"
                   [step]="feeUnits.step" [(ngModel)]="feeInUnits" />
        <button class="button button--side" [class.inactive]="loading"
                (click)="applyFee()">Apply</button>
    </div>
    <div class="checkbox-group" *ngIf="askSubtraction">
        <app-checkbox class="checkbox" [(ngModel)]="recipientsPayFees" [disabled]="loading" #checkbox />
        <label (click)="loading ? null : recipientsPayFees = !recipientsPayFees">
            Subtract fee from amount
        </label>
    </div>
    <button class="button confirm-button" (click)="confirm()"
            [class.loading]="loading" [class.inactive]="loading"
            [style.margin-top]="(askSubtraction ? 20 : 60) + 'px'">
        {{ action | titlecase }}
        <fa-icon [icon]="icon"/>
        <div *ngIf="loading" class="loader"><span></span><span></span><span></span></div>
    </button>
</div>
