<div class="container">

    <app-wallet-header title="Import keys"/>

    <span *ngIf="error" class="error">
        Please double-check the keys and try again. Do not enter
        keys you have already imported or that are belonging to the wallet
    </span>

    <div class="content" [style.min-height]="error ? '460px' : '500px'">
        <div class="inputs" [class.inputs--inactive]="loading" #inputs>
            <app-input placeholder="Private key" class="app-input" [disabled]="loading"
                       *ngFor="let key of keys" [formControl]="key.form"
                       (apply)="inputs.scrollTo(0, inputs.scrollHeight);
                            setInputElement(key, input)" #input/>
            <div *ngIf="keys.length < MAX_KEY_COUNT" class="add">
                <fa-icon [icon]="faPlus" (click)="addForm()"/>
            </div>
        </div>

        <button class="button" (click)="import()"
                [class.inactive]="!valid"
                [style.opacity]="valid ? 1 : .5"
                [class.loading]="loading" #importButton>
            Import
            <fa-icon class="icon" [icon]="faFileImport"/>
            <div *ngIf="loading" class="loader"><span></span><span></span><span></span></div>
        </button>
    </div>
</div>
