@use "variables" as *;

* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Ubuntu", serif;

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background: none;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color .07s ease;
        background: fade-out($blue-darker, .65);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: fade-out($blue-darker, .45);
    }

    &::-webkit-scrollbar-button {
        height: 5px;
        width: 2px;
        background: none;
    }
}

*:not(p-accordion, p-accordion-header, p-accordion-content, p-accordion-panel) {
    padding: 0;
}

html, body {
    overflow-x: hidden;
    --p-select-option-selected-focus-color: #fff !important;
    --p-select-option-selected-color: #fff !important;
    --p-select-option-selected-focus-background: #2b2e4a !important;
    --p-select-option-selected-background: #2b2e4a !important;
    --p-multiselect-option-selected-focus-color: #2b2e4a !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.simple-notification {
    border-radius: 15px;
    background: #fff !important;
    box-shadow: 3px 3px 5px -2px fade-out($blue-darker, .75);

    &-wrapper {
        width: unset !important;
    }

    * {
        padding: 0 !important;
        color: $blue-darker;
    }

    .notification {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .message {
            display: flex;
            flex-direction: column;
            gap: 7px;
            padding: 12px 0 !important;

            .title {
                font-size: 22px;
            }

            .text {
                display: flex;
                align-items: center;
                font-size: 16px;

                img {
                    margin: 0 3px 0 10px;
                }
            }
        }

        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            fa-icon {
                font-size: 42px;
            }
        }

    }
}

p-datePicker, p-datepicker, p-date-picker {
    input {
        background: #f8f8f9 !important;
        border: none !important;
        border-radius: 10px !important;
        padding: 13px 17px !important;
        max-width: 185px;
        text-align: center;

        &::placeholder {
            font-weight: 300;
            opacity: .5;
        }
    }

    &.ng-invalid {
        input {
            border: 1px solid fade-out($red-light, .5) !important;
            margin: -1px !important;
            color: $red-light !important;
        }

    }
}

p-select, p-multi-select, p-multiselect, p-multiSelect {
    border: none !important;
    background: #f8f8f9 !important;
    border-radius: 10px !important;
    padding: 5px 10px !important;

    .p-placeholder {
        font-weight: 300;
        opacity: .5;
    }

    .p-select-option-selected {
        background: #2B2E4A !important;
        color: #fff !important;
    }

    &.ng-invalid {
        border: 1px solid fade-out($red-light, .5) !important;
        margin: -1px !important;
        padding-right: 8px !important;

        .p-placeholder {
            color: $red-light;
        }

        chevrondownicon {
            color: fade-out($red-light, .5) !important;
        }
    }
}

.p-paginator-page.p-paginator-page-selected {
    background: $blue-darker !important;
    color: #fff !important;
}

p-paginator {
    &.no-padding {
        .p-paginator {
            padding: 0 !important;
        }
    }

    p-select {
        padding: 2px 7px !important;
    }
}

.avatar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;

    .error {
        font-size: 12px;
        color: fade-out($red-light, .25);
    }
}

.gl--input-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    .input-row, app-input {
        width: 100%;
    }

    .input-row {
        display: flex;
        align-items: center;
        gap: 15px;

        span {
            font-size: 18px;
            color: fade-out($blue-darker, .3);
            font-weight: 700;
        }
    }

    & > span:not(.error) {
        position: relative;
        width: max-content;
        left: 12px;
        font-size: 16px;
        color: fade-out($blue-darker, .25);
        font-weight: 500;
    }

    .error {
        position: relative;
        left: 12px;
        font-size: 12px;
        color: fade-out($red-light, .25);
    }
}

p-toggle-switch {
    --p-toggleswitch-background: #eaeaed !important;
    --p-toggleswitch-hover-background: #cacbd2 !important;
}

p-toggle-button{
    --p-togglebutton-background: #fbfbff;
}