@use "variables" as *;
@use "../layout";

:host {
    padding: 35px 30px 10px;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 30px 20px;
    width: 100%;
    min-height: 485px;
}

.section {
    padding-left: 10px;

    &__title {
        display: block;
        margin-left: -10px;
        font-size: 14px;
        font-weight: bold;
    }

    &--block, &--wallet {
        .section__content {
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
        }
    }
}

.property {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

    &__name--copyable {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;

        fa-icon {
            font-size: 12px;
            color: fade-out($blue-darker, .5);
        }
    }

    &--id {
        .property__content {
            max-width: 290px;
            word-break: break-all;
        }
    }

    &--address {
        .property__content {
            display: flex;
            flex-direction: column;

            span:first-child {
                font-size: 14px;
                max-width: 210px;
                word-break: break-all;
            }

            span:not(:first-child):last-child {
                font-weight: normal;
                display: flex;
                align-items: center;
                gap: 6px;
                opacity: .7;
                margin-top: 3px;
            }
        }
    }

    &--confirmed {
        .property__content {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &--amount.positive {
        .property__content {
            color: #3e9d2f;
        }
    }

    &--amount.negative {
        .property__content {
            color: $red-light;
        }
    }

    &__content {
        font-size: 16px;
        font-weight: bold;
        font-family: "Ubuntu Mono", monospace;
        min-width: 170px;
    }

    &__diagram {
        width: 17px;
        height: 17px;
        border: 1px solid $blue-darker;
    }

}

