.layout {
    margin: 20px auto;
    padding: 20px 10px;
}

@media (max-width: 1024px) {
    .layout {
        margin: 0 !important;
    }
}

.layout__description {
    max-width: 1024px;
    font-size: 18px;
    text-indent: 20px;
}

.layout__description {
    margin-bottom: 15px;
}